grant codeBase "${app.jar.base}/classes/" {
  permission java.security.AllPermission;
};

grant codeBase "${app.jar.base}/lib/crimson-parser.jar" {
  permission java.security.AllPermission;
};

grant codeBase "${app.jar.base}/batik-rasterizer.jar" {
  permission java.security.AllPermission;
};

grant codeBase "${app.jar.base}/lib/batik-ext.jar" {
  permission java.security.AllPermission;
};

grant codeBase "${app.jar.base}/lib/batik-dom.jar" {
  permission java.security.AllPermission;
};

grant codeBase "${app.jar.base}/lib/batik-css.jar" {
  permission java.security.AllPermission;
};

grant codeBase "${app.jar.base}/lib/batik-svg-dom.jar" {
  permission java.security.AllPermission;
};

grant codeBase "${app.jar.base}/lib/batik-gvt.jar" {
  permission java.security.AllPermission;
};

grant codeBase "${app.jar.base}/lib/batik-parser.jar" {
  permission java.security.AllPermission;
};

grant codeBase "${app.jar.base}/lib/batik-script.jar" {
  permission java.security.AllPermission;
};

grant codeBase "${app.jar.base}/lib/batik-bridge.jar" {
  permission java.security.AllPermission;
};

grant codeBase "${app.jar.base}/lib/batik-swing.jar" {
  permission java.security.AllPermission;
};

grant codeBase "${app.jar.base}/lib/batik-transcoder.jar" {
  permission java.security.AllPermission;
};

grant codeBase "${app.jar.base}/lib/batik-gui-util.jar" {
  permission java.security.AllPermission;
};

grant codeBase "${app.jar.base}/lib/batik-awt-util.jar" {
  permission java.security.AllPermission;
};

grant codeBase "${app.jar.base}/lib/batik-util.jar" {
  permission java.security.AllPermission;
};

grant codeBase "${app.jar.base}/lib/batik-xml.jar" {
  permission java.security.AllPermission;
};

grant codeBase "${app.jar.base}/lib/js.jar" {
  permission java.lang.RuntimePermission "createClassLoader";
  permission java.net.SocketPermission "*", "listen, connect, resolve, accept";
};

