
.fancyBackground {
	visibility: visible;
}

.background {
	fill: black;
	stroke: none;
}

.sectionTitle {
	stroke: none;
	fill: white;
	font-size: 14;
	font-weight: bold;
}

.sectionContent {
	visibility: hidden;
}

